
@font-face {
        font-family: ttNormsReg;
        src: url('../Fonts/TT\ Norms\ Pro\ Regular.otf');
}

@font-face {
        font-family: ttNormsBold;
        src: url('../Fonts/TT\ Norms\ Pro\ Bold.otf');
}


$color1:#FFFFFF;
$color2: #111420;
$color3: #222633;
$color4: #363946;


* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: ttNormsReg;
        text-align: center;
}


body {
        background-color: $color2;
}





// Primary Font: TT Norms Pro, sans-serif
// Colors: #FFFFFF, #111420, #222633, #363946