.container {
        background-color: #ffffff;
        width: 60%;
        padding: 3.12em 1.87em;
        position: absolute;
        left: 20%;
        top: 50%;

        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.397);

        transition: all 1.5s;

}


.uploadButton {
        display: none;
}


.label {
        display: block;
        position: relative;
        background-color: #025bee;
        color: #ffffff;
        font-size: 1.1em;
        text-align: center;
        width: 16em;
        padding: 1em 0;
        border-radius: 0.3em;
        margin: 0 auto 1em auto;
        cursor: pointer;


}
































